<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>投稿一覧</title>
</head>
<body>
    
    <h1>投稿一覧</h1>
    <p>ログイン中：{{ request.user.username }}</p>
    <p>
    <a href="{% url 'profile' request.user.username %}">マイプロフィール</a>
    </p>

    <p>
        <a href="{% url 'post_list' %}">すべての投稿</a>
    
        <a href="{% url 'following_posts' %}">フォロー中</a>

        <a href="{% url 'user_search' %}">ユーザー検索</a>
    </p>

    {% if user.is_authenticated %}

    <a href="{% url 'post_create' %}">新規投稿</a>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
    </form>

{% else %}

    <a href="{% url 'login' %}">ログイン</a>
    <a href="{% url 'signup' %}">新規登録</a>

{% endif %}

    {% for post in posts %}
        <div>
<p>
    投稿者：
    <a href="{% url 'profile' post.author.username %}">
        {{ post.author.username }}
    </a>
</p>
            <p>
                <a href="{% url 'post_detail' post.pk %}">
                    {{ post.content }}
                </a>
            </p>
            <p>投稿日：{{ post.created_at }}</p>

            <form method="post" action="{% url 'like_toggle' post.pk %}">
    {% csrf_token %}
    <button type="submit">
        {% if user in post.likes.all %}
            いいね解除
        {% else %}
            いいね
        {% endif %}
    </button>
</form>

<p>いいね数：{{ post.likes.count }}</p>

        </div>
        <hr>
    {% empty %}
        <p>まだ投稿はありません。</p>
    {% endfor %}

</body>
</html>